/* Elements */
* {
	font-family: "Calibri", sans-serif;
}

body {
	background-color: #202f4c;
}

hr {
	width: 15em;
}

th {
	font-weight: normal;
	text-align: left;
}
td, td * {
	font-weight: lighter;
}

select {
	border-style: inset;
	border-radius: 8px;
}

/* Classes */
.flexcontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.tooltip {
	text-decoration: underline dotted;
}
/* https://stackoverflow.com/a/77796790 */
[data-tooltip]:hover::after {
	display: block;
	position: absolute;
	content: attr(data-tooltip);
	border: 2px solid black;
	border-radius: .75em;
	background: #111;
	padding: 5px 10px;
	font-weight: normal;
}
